body {
    font-family: sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

.top-head {
    border-bottom: #4181ff solid 2px;
    color: #4181ff;
    margin: 0;
}

.top-desc {
    padding-bottom: 20px;
    color: white;
}

.data-table-row {
    border-bottom: 1px solid #777;
    padding-bottom: 15px;
}

.left-col {
    background-color: #05183a;
    height: 100%;
    padding: 3%;
}

.MidBlock{
    /*background-color: #f1f1f1;*/
    padding:  2%;
}

.sub-head {
    color: #4181ff;
    font-weight: bold;
    /*padding-left: 2%;*/
}

.sub-sub-head {
    color: #01183a;
}

.scatter-overview {
    box-sizing: border-box;
    margin: 10px;
    background-color: #01183a;
    color: #fff;
    border-radius: 3px;
    border-bottom: 4px solid #4181ff;
}

.inpt {
    width: 100px;
    display: block;
}